<!DOCTYPE html>
<html>
    <head>
        <title>Sistema</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1 style="margin-left: 45%">Sistema</h1>
        <form style="margin-left: 45%;" action="../frm/ManagerSistema.php" method="POST">
            <label>Nome do Sistema</label><br/>
            <input type="text" value="" id="nome" name="nome"><br/>
            <input type="submit" value="Gravar" id="gravar" name="gravar" style="margin-left: 40px;">
        </form>
    </body>
</html>
